{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-two-thirds">
        <br>
        <h1 class="title">About ChatEval</h1>

        <p> ChatEval is a scientific framework for evaluating neural open domain chatbots. Researchers can submit their trained models to effortlessly receive comparisons with baselines and prior work. Since all evaluation code is open-source, we ensure evaluation is performed in a standardized and transparent way. Additionally, open source baseline models and an ever growing groups public evaluation sets are available for public use.        </p>

        <br>
        <h1 class="title" style="margin-bottom: 0.5rem">Contact Us</h1>
        <p>Reach us with any additional questions, concerns or inquiries at
          <a href="mailto:chatevalteam@gmail.com">chatevalteam@gmail.com</a>.
        </p>
      </div>
      <div class="column"></div>
    </div>
  </div>
  <br>
{% endblock %}