{% extends 'base.html' %}

{% block content %}
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-one-sixth"></div>
      <div class="column is-two-thirds">
          <br> <br>
          <h1 class="title" style="margin-bottom: 2.5rem"> Evaluation Datasets </h1>
          <div class="columns is-multiline" style="padding-bottom:0rem; padding-top: 0rem">  
            {% for dataset in datasets %}
            <div class="column is-half" style="padding-top: 0rem; padding-bottom: 0rem;">
              <a href="{{dataset.source}}">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong> {{dataset.long_name}} </strong> <br>
                          <small> {{dataset.description}} </small>
                          <br>
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </a>
            </div>
            <br>
            {% endfor %}    
          </div>
  
          <h1 class="title" style="margin-bottom: 2.5rem"> Supported Baselines </h1>
          <div class="columns is-multiline" style="padding-bottom:0rem; padding-top: 0rem">   
            
            {% for baseline in baselines %}
            <div class="column is-half" style="padding-top: 0rem; padding-bottom: 0rem;">
              <a href="/model?model_id={{ baseline.model.model_id }}">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong> {{baseline.model.name}} </strong> <br>
                          <small> {{baseline.model.description}} </small>
                          <br>
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
  
          <h1 class="title" style="margin-bottom: 2.5rem"> Automated Evaluation Methods </h1>
          <div class="columns is-multiline" style="padding-bottom:0rem; padding-top: 0rem">   
            
            {% for metric in metrics %}
            <div class="column is-half" style="padding-top: 0rem; padding-bottom: 0rem;">
              <div class="box" id="{{ metric.metric_id }}">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong> {{ metric.name }} </strong> <br>
                        <small> {{ metric.info }} </small>
                        <br>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
      <div class="column is-one-sixth"></div>
    </div>
    <br>
  </div>
{% endblock %}