{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ChatEval</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'app.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="{% static 'bar_graph.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>
    <div id="contains-all">
      <div id="body">
        <nav class="navbar is-success" role="navigation" aria-label="main navigation">
          <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
              <a class="navbar-item" href="/">
                <strong>ChatEval</strong>
              </a>
              <a class="navbar-item" href="/conversations">
                Conversations
              </a>
              <a class="navbar-item" href="/model">
                Models
              </a>
            </div>
            <div class="navbar-end">
              {% if user.is_authenticated %}
                <a class="navbar-item" href="/uploads">
                  My Uploads
                </a>
                <a class="navbar-item" href="/submit">
                  Upload Model
                </a>
                <a class="navbar-item" href="/accounts/logout">
                  Log Out
                </a>
              {% else %}
                <a class="navbar-item" href="/accounts/login">
                  Log In
                </a>
              {% endif %}
            </div>
          </div>
        </nav>

        {% block content %}
        {% endblock %}
    </div>

      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <p>
              Developed by <strong>The ChatEval Team</strong>. <br>
            </p>
            <a href="https://github.com/chateval/application">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
            </a>

            <a href="mailto:chateval@gmail.com">
              <span class="icon">
                <i class="fas fa-envelope"></i>
              </span>
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>