{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ChatEval</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'app.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="{% static 'bar_graph.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>

    <script>
      document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

      });
    </script>

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/">
              <strong> ChatEval </strong>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/about">
                About
              </a>
              <a class="navbar-item" href="/faq">
                FAQ
              </a>
              <a class="navbar-item" href="/license">
                License
              </a>
            </div>
          </div>

          <a class="navbar-item" href="https://compare.chateval.org/models">
            Models
          </a>
          <a class="navbar-item" href="https://compare.chateval.org/conversations">
            Conversations
          </a>
        </div>
        <div class="navbar-end">
          {% if user.is_authenticated %}
            <a class="navbar-item" href="/uploads">
              My Uploads
            </a>
            <a class="navbar-item" href="/submit">
              Upload Model
            </a>
            <a class="navbar-item" href="/accounts/logout">
              Log Out
            </a>
          {% else %}
            <a class="navbar-item" href="/accounts/login">
              Log In
            </a>
          {% endif %}
        </div>
      </div>

      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </nav>

    {% block content %}
    {% endblock %}
    
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Developed by <strong>The ChatEval Team</strong>. <br>
        </p>
        <a href="https://github.com/chateval/application">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
        </a>

        <a href="mailto:chatevalteam@gmail.com">
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
        </a>
      </div>
    </div>
    <br>
  </body>
</html>
