{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <br>
        <h1 class="title">Frequently Asked Questions</h1>

        <article class="message is-light">
          <div class="message-header">
            <strong><p>How much does ChatEval cost for researchers?</p></strong>
          </div>
          <div class="message-body">
            ChatEval is free* to use.
          </div>
        </article>

        <article class="message is-light">
          <div class="message-header">
            <strong><p>What kind of models are supported?</p></strong>
          </div>
          <div class="message-body"> 
            ChatEval allows you to upload <code>.txt</code> files with responses to our evaluation datasets. This allows ChatEval to be framework agnostic.
          </div>
        </article>

        <article class="message is-light">
          <div class="message-header">
            <strong><p>Who can use ChatEval?</p></strong>
          </div>
          <div class="message-body">
            Our license is available <a href="https://github.com/chateval/application/blob/master/LICENSE">here.</a> 
          </div>
        </article>

        <h1 class="title" style="margin-bottom: 0.5rem">Contact Us</h1>
        <p>Reach us with any additional questions, concerns or inquiries at
          <a href="mailto:chatevalteam@gmail.com">chatevalteam@gmail.com</a>.
        </p>
      </div>
      <div class="column"></div>
    </div>
  </div>
  <br>
{% endblock %}
