{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <br>
        <h1 class="title">Frequently Asked Questions</h1>

        <article class="message is-link">
          <div class="message-header">
            <p>How much does ChatEval cost for researchers?</p>
          </div>
          <div class="message-body">
            ChatEval is completely free to use.
          </div>
        </article>

        <article class="message is-link">
          <div class="message-header">
            <p>How much does ChatEval cost for researchers?</p>
          </div>
          <div class="message-body">
            ChatEval is completely free to use.
          </div>
        </article>

        <article class="message is-link">
          <div class="message-header">
            <p>How much does ChatEval cost for researchers?</p>
          </div>
          <div class="message-body">
            ChatEval is completely free to use.
          </div>
        </article>

        <h1 class="title" style="margin-bottom: 0.5rem">Contact Us</h1>
        <p>Reach us with any additional questions, concerns or inquiries at
          <a href="mailto:chateval@gmail.com">chateval@gmail.com</a>.
        </p>
      </div>
      <div class="column"></div>
    </div>
  </div>
  <br>
{% endblock %}