{% extends 'base.html' %}

{% block content %}
<div class="container">
  <br />
  <h1 class="title"> <strong>Human Evaluation</strong> </h1>
  <p>Launch Amazon Mechanical Turk for human evaluation directly from ChatEval's portal.</p>
  <h2 class="subtitle"> Baseline Comparison </h2>
    <div class="row">
      {% for baseline in baselines %}
      <div class="col-md-4" >
        <div class="card">
          <div class="card-body">
            <strong> {{baseline.name}} </strong> <br>
            Dataset: <span class="badge badge-primary">{{baseline.dataset.name}}</span>
            <br />
            <small > {{baseline.description}} </small>
            <br/> 
            <a style="margin-top: 0.5rem" class="btn btn-primary" href="/compare?model1={{model_id}}&model2={{baseline.id}}&evalset={{baseline.dataset.pk}}"> Compare </a>
          </div>
        </div>
        <br />
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
