{% extends 'base.html' %}

{% block content %}
<br>
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <br>
        <form method="GET" action="/model">
          {% csrf_token %}
          <div class="control" name="model">
            <label class="label">Trained Model</label>
            <div class="select">
              <select name="model_id">
                {% for model in models %}
                <option value={{model.model_id}}>{{model.name}}</option>
                {% endfor %} 
              </select>
            </div>
          </div>
          <br>
          <input type="submit" value="View Automatic Evaluation" class="button is-success">
        </form>
      </div>    
  
      <div class="column">
        <br>
        {% if GET %}
        <p class="title"> {{ model.name }}</p>
        <div class="card">
            <div class="card-content">    
              <div class="content">
                <p><strong>Institution:</strong> {{ model.author.institution }} <br>
                <strong>Description:</strong> {{ model.description }} <br> <br>
                <a class="button" href="{{ model.repo_location }}"> View Code </a> 
                <a class="button" href="{{ model.cp_location }}"> View Checkpoint </a>
              </div>
            </div>
          </div>
          <br> <br>
          <p class="title is-4">Automatic Evaluation <span class="icon has-text-info"> <a href="https://github.com/chateval/application/tree/master/eval"> <i class="fas fa-info-circle"></i>  </a> </span> </p>
          {% for evaluation in evaluations %}
          <div class="card">
            <div class="card-content">
              <h2 class="subtitle" class="margin-top: 2rem"> {{ evaluation.evalset.long_name }} </h2>
              <div class="content">
                <table class="table is-bordered">
                  <thead>
                    <th>Measure</th>
                    <th>Value</th>
                  </thead>
                  <tbody>
                    {% for auto_eval in evaluation.auto_evals %}
                    <tr>
                      <td> <a href="{% url 'splash' %}#{{ auto_eval.id }}"> {{ auto_eval.name }} </a>  </td>
                      <td> {{ auto_eval.value }} </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              <a class="button is-success" href="/conversations?model_id={{ model.model_id }}&evalset_id={{evaluation.evalset.evalset_id}}">View Conversation</a>
              </div>
            </div>
          </div>
          <br>
          {% endfor %}

          <br> 

          <p class="title is-4">Human Evaluation</p>
  
          <div class="card">
            <div class="card-content">
              <div id="chart_div"></div>
            </div>
          </div>
          <br>
        {% else %}
          <h1 class="title">Model Evaluation</h1>
          <h1 class="subtitle">No model/dataset selected. </h1>
        {% endif %}  
        <br>
      </div>
    </div>
  </div>
  
  
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {

    var options = {
      title: 'Human evaluation on dataset: ' + "NCM",
      chartArea: {width: '50%', height:'100%'},
      isStacked: 'percent',
      legend:'right',
      annotations: {
        alwaysOutside: false,
        textStyle: {
          fontSize: 12,
          auraColor: 'none',
          color: '#555'
        },
        boxStyle: {
          stroke: '#ccc',
          strokeWidth: 1,
          gradient: {
            color1: '#f3e5f5',
            color2: '#f3e5f5',
            x1: '0%', y1: '0%',
            x2: '100%', y2: '100%'
          }
        }
      },
      hAxis: {
        title: 'Fraction of Votes',
        minValue: 0,
      },
      vAxis: {
        title: 'Competing Model'
      }
    };

    output = [];
    output.push(['Model',
      "Model 1"  + ' wins',
      {type: 'string', role: 'annotation'},
      'Compteting model wins',
      {type: 'string', role: 'annotation'},
      'Tie',
      {type: 'string', role: 'annotation'}])
    
      output.push(["Seq2Seq",
        180,
        "180",
        211,
        "211",
        101,
        "101"])
    output = output.sort(function(a,b){return a[1]<b[1];});
    var dataTable = google.visualization.arrayToDataTable(output);
    var chart = new google.visualization.BarChart(document.getElementById("chart_div"));
    chart.draw(dataTable, options);
    }
  </script>
{% endblock %}