{% extends 'base.html' %}

{% block content %}
<section class="hero has-text-centered is-success is-medium">
  <div class="hero-body">
    <div class="container" style="text-align:left">
      <h1 class="title">
        ChatEval
      </h1>
      <p> ChatEval is a scientific framework for evaluating neural open domain chatbots. Researchers can submit their trained models to effortlessly receive comparisons with baselines and prior work. Since all evaluation code is open-source, we ensure evaluation is performed in a standardized and transparent way. Additionally, open source baseline models and an ever growing groups public evaluation sets are available for public use.</p>
      <br>
      <p> ChatEval is actively developed by The University of Pennsylvania.</p>
      <br>
      <a class="button is-light is-outlined is-medium" href="/submit"> Upload Model</a>
    </div>
  </div>
</section>
<br> <br>
{% endblock %}