{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="columns">
      <div class="column is-one-third"></div>
      <div class="column is-one-third">
        <br>
        <h1 class="title">Upload Model</h1>
        <h1 class="subtitle">Automatic Evaluation</h1>
        <form enctype="multipart/form-data" method="POST" action="/submit">
          <h2 class=""> Model Information </h2>
          {% csrf_token %}
          {{ form }}
          <br> <br>
          <h2 class=""> Model Reponse Files </h2>
          <br>
          {% for response_file in response_files %}
          <div class="box" style="margin: 0rem">
              <label class="label">{{ response_file.long_name }}</label>
              <input class="file" type="file" name="{{ response_file.name }}" />
          </div>
            <br>
          {% endfor %}
          <div class="field">
            <label class="label">Terms and Conditions</label>
            <div class="control">
              <label class="checkbox">
                <input type="checkbox">
                I agree to the <a href="#">terms and conditions.</a>
              </label>
              <br>
            </div>
          </div>

          {% if request.user.is_superuser %}
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input name="baseline" type="checkbox">
                is_baseline</a>
              </label>
              <br>
            </div>
          </div>
          {% endif %}
  
          <input type="submit" value="Upload Model" class="button is-success">
        </form>
        <br>
      </div>
      <div class="column is-one-third"></div>
    </div>
  </div>
{% endblock %}