{% extends 'base.html' %}

{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <br>
      {% if error %}
        <div class="alert alert-danger" role="alert">
          There was an error with your upload! Confirm your response file is the correct length (e.g. no empty lines) and 
          that it is formatted appropriately. Email <a href="mailto:chatevalteam@gmail.com">chatevalteam@gmail.com</a> for help.
        </div>
      {% endif %}
      <h1 class="title">Upload Model</h1>
      <form enctype="multipart/form-data" method="POST" action="/upload">
        <h2 class=""> Model Information </h2>
        {% csrf_token %}
        {{ form }}
        <br> <br>
        <h2 class=""> Model Reponses </h2>
        <p class="subtitle"> Select a <code>.txt</code> file containing the responses for each dataset. <a href="https://raw.githubusercontent.com/chateval/archive/master/eval_data/ncm/neural_conv_model_eval_responses_human_1.txt">Example model response file.</a> </p>
        {% for response_file in response_files %}
        <div class="card" style="margin: 0rem">
          <div class="card-body">
            <h5 class="card-title">{{ response_file.long_name }}</h5>
            <input class="file" type="file" name="{{ response_file.name }}" />
          </div>
        </div>
          <br>
        {% endfor %}
        <div class="field">
          <h2 class="label">Terms and Conditions</h2>
          <div class="control">
            <label class="checkbox">
              <input type="checkbox">
              I agree to the <a href="#">terms and conditions.</a>
            </label>
            <br>
          </div>
        </div>

        {% if request.user.is_superuser %}
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input name="baseline" type="checkbox">
              is_baseline</a>
            </label>
            <br>
          </div>
        </div>
        {% endif %}

        <input type="submit" value="Upload Model" class="btn btn-primary">
      </form>
      <br>
    </div>
    <div class="col-md-2"></div>
  </div>
</main>
{% endblock %}