{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
  <div class="columns">
    <div class="column">
      <br>
      <h1 class="title"> Uploaded Models </h1>
      <h1 class="subtitle"> Author: {{ request.user.get_username }} </h1>
      <div class="columns is-multiline">
        {% for upload in uploads %}
        <div class="column is-half">
          <div class="card">
            <div class="card-content">
              <h2 class="text is-size-5"><strong>{{ upload.model.name }}</strong></h2> 
              <p class="text" > {{ upload.model.description }} </p>
              {% for evalset in upload.evalsets %}
              <span class="tag is-success"> {{ evalset }} </span>
              {% endfor %}
              <hr />
              <form method="POST" action="/human">
                {% csrf_token %}
                <input type="hidden" name="model_id" value="{{ upload.model.model_id }}">
                <a class="is-light"> </a><button type="submit" class="button is-light">Run Human Evaluation</button> </a>
                <a class="button is-light" href="/model?model_id={{ upload.model.model_id }}">View Evaluation</a>
              </form>
              <a href="/model/edit?model_id={{ upload.model.model_id }}"> <span class="tag is-light"> Edit </span> </a>
              {% if upload.model.public != True %}
                <a href="/model/publish?model_id={{ upload.model.model_id }}"> <span class="tag is-info"> Publish </span> </a>
              {% else %}
              <a href="/model/delete?model_id={{ upload.model.model_id }}"> <span class="tag is-danger"> Delete </span> </a>
              {% endif %}
            </div>
          </div>
        </div>  
        {% endfor %}
      </div>    
    </div>
  </div>
</div>
<br>
{% endblock %}