{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
  <div class="columns">
    <div class="column is-one-quarter">
      <form method="GET" action="/evaluations">
        <div class="control" name="model">
          <br>
          <label class="label">Filter by Evaluation Dataset:</label>
          <div class="select">
            <select name="model">
              <option>example dataset</option>
            </select>
          </div>
        </div>
        <br>
        <input type="submit" value="Refine Search" class="button is-success">
      </form>
    </div>    
    <div class="column">
      <br>
      <h1 class="title"> Uploaded Models </h1>
      <h1 class="subtitle"> Author: {{ request.user.get_username }} </h1>
      <div class="columns is-multiline">
        {% for upload in uploads %}
        <div class="column is-half">
          <div class="card">
            <div class="card-content">
              <h2 class="text is-size-5"><strong>{{ upload.model.name }}</strong></h2>
              <p class="text"><strong>Description:</strong> {{ upload.model.description }} </p>
              <p class="text">
                <strong>Repository:</strong> <a href="{{ upload.model.repo_location }}">{{ upload.model.repo_location }}</a>
              </p>
              {% for evalset in upload.evalsets %}
              <span class="tag is-light"> {{ evalset }} </span>
              {% endfor %}
              <form method="POST" action="/evaluation/human">
                {% csrf_token %}
                <input type="hidden" name="model_id" value="{{ model.model_id }}">
                <button type="submit" class="button is-success">Run Human Evaluation</button>
                <a class="button is-light" href="/model?model_id={{ upload.model.model_id }}">View Evaluation</a>
                <a class="button is-danger is-outlined" href="/model/delete?model_id={{ upload.model.model_id }}">Delete</a>
              </form>
            </div>
          </div>
        </div>  
        {% endfor %}
      </div>    
    </div>
  </div>
</div>
<br>
{% endblock %}