{% extends 'base.html' %}

{% block content %}
<section class="hero has-text-centered is-success is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Models
        </h1>
        <h2 class="subtitle">
          Quantitative Model Evaluation
        </h2>
        <br>
      </div>
    </div>
  </section>
  
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <br>
        <form method="GET" action="/conversations">
          <div class="control" name="model">
            <label class="label">Trained Model</label>
            <div class="select">
              <select name="model">
                {% for model in models %}
                <option>{{model.name}}</option>
                {% endfor %} 
              </select>
            </div>
          </div>
          <br>
          <input type="submit" value="View Automatic Evaluation" class="button is-success">
        </form>
      </div>    
  
      <div class="column">
        <br>
        <div class="card">
          <div class="card-content">
            <p class="title is-4">Model: NCM</p>
  
            <div class="content">
              <p><strong>Description:</strong> Neural Conversational Model <br>
              <strong>Dataset:</strong> NCM <br>
              <strong>Code:</strong> None <br>
              <strong>Checkpoints:</strong> None</p>
            </div>
          </div>
        </div>
        <br>
  
        <div class="card">
          <div class="card-content">
            <p class="title is-4">Automatic Evaluation</p>
  
            <div class="content">
              <table class="table is-bordered">
                <thead>
                  <th>Measure</th>
                  <th>Value</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Average Length</td>
                    <td>4.875</td>
                  </tr>
                  <tr>
                    <td>Average Sentence BLEU-2</td>
                    <td>0.43</td>
                  </tr>
                  <tr>
                    <td>Embedding Average Score	</td>
                    <td>0.425, 0.002, 0.201</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>
  
        <div class="card">
          <div class="card-content">
            <p class="title is-4">Human Evaluation</p>
  
            <div class="content">
              <canvas id="myChart" width="400" height="200"></canvas>
            </div>
          </div>
        </div>
  
        <br>
        <h1 class="title"> Conversations</h1>
  
        <div class="columns is-multiline">
          <div class="column is-half">
            <div class="card">
              <div class="card-content">
                <h2 class="text is-size-5"><strong>Prompt:</strong> What is two plus two?</h2>
                <p class="text"><strong>CakeChat:</strong>i can't think of one</p>
                <p class="text"><strong>NCM:</strong>uh, well, we got four.</p>
                <p class="text"><strong>OpenNMT Seq2SeqAttn:</strong>Three.</p>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-content">
                <h2 class="text is-size-5"><strong>Prompt:</strong> what is your name?</h2>
                <p class="text"><strong>CakeChat:</strong> my name is</p>
                <p class="text"><strong>NCM:</strong> khromov , and you ?</p>
                <p class="text"><strong>OpenNMT Seq2SeqAttn:</strong> what .</p>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-content">
                <h2 class="text is-size-5"><strong>Prompt:</strong> how old are you?</h2>
                <p class="text"><strong>CakeChat:</strong>  i ' m 15 . you ?</p>
                <p class="text"><strong>NCM:</strong>  i'm 17.</p>
                <p class="text"><strong>OpenNMT Seq2SeqAttn:</strong>  I don 't know .</p>            
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-content">
                <h2 class="text is-size-5"><strong>Prompt:</strong> my name is david . what is my name ?</h2>
                <p class="text"><strong>CakeChat:</strong>   my name is . . .</p>
                <p class="text"><strong>NCM:</strong> david</p>
                <p class="text"><strong>OpenNMT Seq2SeqAttn:</strong>   it is you</p>  
              </div>
            </div>
          </div>
            <div class="column is-half">
            <div class="card">
              <div class="card-content">
                <h2 class="text is-size-5"><strong>Prompt:</strong> what is love ?</h2>
                <p class="text"><strong>CakeChat:</strong> a girl</p>
                <p class="text"><strong>NCM:</strong> love is beautiful.</p>
                <p class="text"><strong>OpenNMT Seq2SeqAttn:</strong> I don 't know .</p> 
              </div>
            </div>
          </div>
        </div>
  
        <br>
      </div>
    </div>
  </div>
  
  <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["Seq2SeqAttn Twitter", "OpenNMT Seq2SeqAttn", "CakeChat 1", "CakeChat 2", "Human 1", "Human 2"],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  },
                  stacked: true
              }]
          }
      }
    });
  </script>
{% endblock %}