{% extends 'base.html' %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-one-third"></div>
    <div class="column is-one-third">
      <h1 class="title">Log In</h1>
      <p class="subtitle"> Welcome back to ChatEval. </p>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="button" type="submit">Log In</button> <br> <br>
        <a href="/accounts/signup"> Don't have an account? </a> 
      </form>
    </div>
    <div class="column is-one-third"></div>
  </div>
</div>
<br>
{% endblock %}
