{% extends 'base.html' %}

{% block content %}
<br>
<main role="main" class="container">
  <br />
  <div class="row">
    <div class="col-md-4">
        <h1 class="mt-5">Log In</h1>
        <p>Welcome back to ChatEval.</p>
        <form method="post" class="form-group">
          {% csrf_token %}
          {{ form.as_p }}
          
          <button class="btn btn-primary" type="submit">Log In</button> <br> <br>
          <a href="/accounts/signup"> Don't have an account? </a> 
        </form>
    </div>
  </div>
</main>
{% endblock %}
