{% extends 'base.html' %}

{% block content %}
<section class="hero has-text-centered is-success is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Log In
      </h1>
      <br>
    </div>
  </div>
</section>
<br>
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-one-third"></div>
    <div class="column is-one-third">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="button" type="submit">Log In</button> <br> <br>
        <a href="/signup"> Don't have an account? </a> 
      </form>
    </div>
    <div class="column is-one-third"></div>
  </div>
</div>
{% endblock %}
