{% extends 'base.html' %}

{% block content %}
<br>  
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-one-third"></div>
    <div class="column is-one-third">
      <h1 class="title">Sign Up</h1>
      <p class="subtitle"> Viewing public model evaluations/conversation does not require an account.</p>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="button" type="submit">Sign Up</button>
      </form>
    </div>
    <div class="column is-one-third"></div>
  </div>
</div>
<br>
{% endblock %}
  